html {
    margin: 0;
    padding: 0;
    overflow-y: auto;
    background: aliceblue;
    background: linear-gradient(215deg, #ced6ff, #bbffff, #d5ffc8);
    background-size: 600% 600%;
    -webkit-animation: bg-animation 30s ease infinite;
    -moz-animation: bg-animation 30s ease infinite;
    -o-animation: bg-animation 30s ease infinite;
    animation: bg-animation 30s ease infinite;
}

@-webkit-keyframes bg-animation {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes bg-animation {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-o-keyframes bg-animation {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes bg-animation {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

#app {
    margin-top: 30px;
}

#navbar1 {
    margin-bottom: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 11;
}

.titulo {
    margin-bottom: 8px;
}

.notif {
    padding: 0.75rem 1.25rem 0.75rem 1.25rem !important;
    background-color: #800000;
    color: white;
}

.listado {
    margin-bottom: 25px;
}

#modal-title {
    font-size: 1.25rem;
}

#modal-head2 {
    display: block;
}

@media screen and (max-width: 768px) {
    #modal-head2 {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .listado {
        font-size: 0.8rem;
    }
}

.radio {
    display: inherit;
    margin: 8px 0;
}

.list-cursos {
    display: inherit;
    margin-bottom: 5px;
}

.secc {
    display: inline-block;
    margin-left: 25px;
}

.curso {
    margin: 4px 0;
}

.notif2 {
    margin-top: 10px;
    display: inline;
}

#listaCruces {
    overflow: auto;
    height: 620px;
}

#horario-table {
    border: 0.15rem solid black;
    table-layout: fixed;
}

td, th {
    width: 90px;
    min-width: 80px;
    font-size: 13px;
    text-align: center !important;
    vertical-align: middle !important;
    color: black;
}

th {
    font-size: 13px;
}

#downl {
    padding: 10px;
}

#popup_generado {
    width: 220px;
    text-align: center;
}

.load {
    font-size: 1rem;
}

body {
    font-size: 0.9rem;
}

.table-container {
    overflow-x: auto;
}

.notification {
    padding: 0.5rem 0.75rem !important;
}

.is-success {
    background-color: #01550f !important;
}

@media (prefers-color-scheme: dark) {
    html {
        background: #121212;
    }

    .title, .subtitle, body {
        color: whitesmoke;
    }

    .navbar.is-link {
        background-color: #003696;
    }

    #pop2 {
        background-color: #00051f;
    }

    .tabs.is-toggle li {
        background-color: whitesmoke;
    }

    .card {
        background-color: #303030;
        color: whitesmoke;
    }

    .card-header-title {
        color: whitesmoke;
    }
}