<template>
  <v-container class="pb-0">
    <div v-if="listaCursos!=null">
      <span class="text-h6">Seleccionar cursos</span><br/>
      <span class="text-subtitle-2"> ({{ selectedCursoList.length }} {{selectedCursoList.length===1?"curso seleccionado":"cursos seleccionados"}})</span>
        <v-container class="text-subtitle-2">
          <div v-for="(curso,ind) in selectedCursoList" :key="ind">
            <v-row align="center">
              <v-btn
                  color="error"
                  icon
                  @click="removeCursoSel(ind)">
                <v-icon>mdi-close</v-icon>
              </v-btn>
              <v-col class="d-inline-block">
                  <span>{{ curso.codigo }} - {{ curso.nombre }}</span><br/>
                <div class="d-inline-flex ml-2 text-body-2">
                  <span class="d-none d-sm-flex mr-2">Secciones:</span>
                  <span class="d-flex d-sm-none mr-2">Secc:</span>
                  <span v-for="(sec) in curso.secciones" :key="sec" cols="2">
                    <input checked class="cursoSelec" type="checkbox">&#160;{{ sec }}&#160;&#160;
                  </span>
                </div>
              </v-col>
            </v-row>
          </div>
        </v-container>
      <v-row justify="center" no-gutters>
        <v-dialog
            v-model="dialog"
            scrollable
            width="500"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn
                color="dRed"
                dark
                class="mb-3 mx-2"
                v-bind="attrs"
                v-on="on"
            >
              <v-icon>
                mdi-plus-circle
              </v-icon>
              Añadir curso
            </v-btn>
          </template>
          <v-card>
            <v-card-title>
              <v-row no-gutters align="center">
                <div class="flex-grow-1 text-h6 mr-2">
                  Agregar cursos:
                </div>
                <v-spacer/>
                <div class="text-caption d-flex">
                  <v-text-field
                      v-model="searchCurso"
                      clearable
                      dense
                      hide-details
                      label="Buscar curso"
                      outlined
                      placeholder="Nombre/código del curso..."
                  ></v-text-field>
                </div>
              </v-row>
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text style="flex-basis: 65vh;">
              <span v-for="(curso,ind) in searchCursoList" :key="ind">
              <v-btn
                  class="ma-0"
                  color="iBlue"
                  dark
                  small
                  text
                  @click="addCursoSel(ind)"
              >{{ curso.codigo }} - {{ curso.nombre }}
              </v-btn>
              <br/>
            </span>
            </v-card-text>

            <v-divider></v-divider>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                  color="error"
                  text
                  @click="dialog = false"
              >Listo
              </v-btn>

            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-btn
            class="mb-3 mx-2"
            color="dTeal"
            dark
            @click="limpiarSel"
        >
          <v-icon>mdi-delete</v-icon>
          Borrar selección
        </v-btn>
      </v-row>


    </div>
    <v-divider/>
    <v-container
        align="center"
        class="text-center pa-0"
        justify="space-around">

      <v-btn
          class="ma-2"
          color="dDeepOrange"
          text
          @click="addCombinacion()"
      >
        <v-icon>mdi-content-save</v-icon>
        Guardar Combinación
      </v-btn>

      <v-btn
          class="ma-2"
          color="iLime"
          text
          @click="generarHorario()"
      >
        <v-icon>mdi-check</v-icon>
        ¡Guardar y Generar!
      </v-btn>
    </v-container>

  </v-container>
</template>

<script>
export default {
  name: "CrearHorario",
  components: {},
  props: ['listaCursos', 'listadoComb'],
  data() {
    return {
      dialog: false,
      listadoCursosSel: [],
      searchCurso: "",
      selected: [],
      cursoSec: {
        curso: [],
        sec: [],
      },
    };
  },
  computed: {
    searchCursoList() {
      this.normalizeNull();
      return this.listaCursos.filter(curso =>
          curso.nombre.toLowerCase().includes(this.searchCurso.toLowerCase()) ||
          curso.codigo.toLowerCase().includes(this.searchCurso.toLowerCase())
      )
    },
    selectedCursoList() {
      return this.listaCursos.filter(curso =>
          this.listadoCursosSel.indexOf(curso.codigo) !== -1
      )
    }
  },
  methods: {
    limpiarSel: function () {
      this.listadoCursosSel = [];
    },
    normalizeNull: function () {
      if(this.searchCurso===null)
        this.searchCurso = "";
    },
    removeA: function (arr) {
      let what, a = arguments, L = a.length, ax;
      while (L > 1 && arr.length) {
        what = a[--L];
        while ((ax = arr.indexOf(what)) !== -1) {
          arr.splice(ax, 1);
        }
      }
      return arr;
    },
    addCursoSel: function (index) {
      let item = this.searchCursoList[index];
      this.$toast.clear();
      if (this.selectedCursoList.indexOf(item) === -1) {
        this.listadoCursosSel.push(item.codigo);
        this.$toast('Se agregó: ' + item.codigo + ' - ' + item.nombre, {timeout: 1500});
        this.$cookies.set("savedCursos", JSON.stringify(this.listadoCursosSel));
      } else {
        this.$toast.error('Ya se encuentra añadido: ' + item.codigo + ' - ' + item.nombre);
      }
    },
    removeCursoSel: function (i) {
      let item = this.selectedCursoList[i];
      this.$toast.clear();
      this.$toast.success('Eliminado: ' + item.codigo + ' - ' + item.nombre);
      this.removeA(this.listadoCursosSel, this.selectedCursoList[i].codigo);
      this.$cookies.set("savedCursos", JSON.stringify(this.listadoCursosSel));
    },
    convertirCursoSec: function () {
      this.cursoSec.curso = [];
      this.cursoSec.sec = [];
      let inputsCursoSec = document.getElementsByClassName("cursoSelec")
      let indICS = 0;
      for (let i = 0; i < this.selectedCursoList.length; i++)
        for (let j = 0; j < this.selectedCursoList[i].secciones.length; j++) {
          if (inputsCursoSec[indICS].checked) {
            this.cursoSec.curso.push(this.selectedCursoList[i].codigo);
            this.cursoSec.sec.push(this.selectedCursoList[i].secciones[j]);
          }
          indICS++;
        }
    },
    addCombinacion: function () {
      this.convertirCursoSec();
      this.listadoComb.push(JSON.parse(JSON.stringify(this.cursoSec)));
      this.$cookies.set("Comb", JSON.stringify(this.listadoComb));
      this.$toast.success('Guardado en Mis horarios');
    },
    generarHorario: function () {
      this.addCombinacion();
      this.$router.replace({name: "Mejores", params: {cursoSec: this.cursoSec}});
    },
  },
  mounted() {
    this.limpiarSel();
  },
};
</script>