<template>
  <v-container>
    <v-alert
        border="top"
        class="mb-1"
        :dismissible="savedUpd.fecha!==null"
        transition="fade-transition"
        color="dRed">
      <div class="text-h6 font-weight-bold" >
        Bienvenido a la nueva versión del generador de horarios de matricula.
      </div>
      <span v-if="savedUpd.fecha!==null"><v-divider class="my-1"/><b>Última actualización:</b><br/>{{ savedUpd.fecha }} - {{ savedUpd.descripcion }}</span>
    </v-alert>
    <v-divider class="my-3"/>
    <v-card v-if="listadoComb.length===0" color="dYellow">
      <v-card-title>
        <v-icon class="mr-2">mdi-lightbulb-on</v-icon>
        Aviso
      </v-card-title>
      <v-card-subtitle>
        Aquí apareceran las combinaciones guardadas de los cursos seleccionados.<br>
        Para comenzar, presione el boton de abajo.
      </v-card-subtitle>
      <v-divider class="my-3"/>
    </v-card>
    <v-container>
      <v-row justify="center">
        <v-dialog
            v-model="crearDialog"
            max-width="600px"
            persistent
            scrollable
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn
                color="dIndigo"
                elevation="2"
                v-bind="attrs"
                v-on="on"
                dark
            >
              Crear un horario nuevo
            </v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span>Crear un horario nuevo</span>
            </v-card-title>
            <v-divider/>
            <v-card-text>
              <CrearHorario :lista-cursos="listaCursos" :listado-comb="listadoComb"/>
            </v-card-text>
            <v-divider/>
            <v-card-actions>
              <v-spacer/>
              <v-btn
                  color="error"
                  text
                  @click="crearDialog = false"
              >
                Cerrar
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-row>
    </v-container>

    <v-divider class="my-3"/>
    <!--- -->
    <v-container
        v-if="listadoComb.length!==0"
        class="text-h5 font-weight-bold"
    >Mis combinaciones de horarios guardados:
    </v-container>

    <v-container class="d-flex flex-wrap">
      <v-card
          v-for="(item,ind) in listadoComb" :key="ind"
          class="align-self-start flex-grow-1 ma-2"
          style="max-width: 400px; flex-basis:192px"
      >
        <v-card-title class="">
          Combinación #{{ ind + 1 }}:
        </v-card-title>

        <v-card-subtitle style="min-height: 120px; white-space: pre">
          <span class="ma-0">
            {{ textoCombinacion(item) }}
          </span>
        </v-card-subtitle>
        <v-spacer/>

        <v-card-actions class="justify-space-around">
          <v-btn text @click="generarHorario(item)">
            Generar
          </v-btn>
          <v-btn text @click="removeCombinacion(ind)">
            Borrar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-container>

  </v-container>
</template>

<script>
import axios from "axios";

export default {
  name: 'Home',

  components: {
    CrearHorario: () => import(/* webpackChunkName: "matrigen" */"@/views/CrearHorario"),
  },

  data() {
    return {
      savedUpd: {
        id: null,
        fecha: null,
        hora: null,
        descripcion: 'Espere...'
      },
      listaCursos: null,
      listadoComb: [],
      crearDialog: false,
    }
  },
  methods: {
    getLastUpdate: function () {
      let toastCursos = this.$toast("Obteniendo cursos...",{timeout:false, closeButton: false});
      let that = this;
      axios.post('api/gluc', {}, {
        headers: {
          'Content-Type': 'application/json'
        }
      }).then(function (res) {
        let data = res.data;
        data.fecha = new Intl.DateTimeFormat('es-PE').format(new Date(data.fecha))
        that.savedUpd = JSON.parse(JSON.stringify(data));
        that.$toast.update(toastCursos, {
          content: "Listo",
          options: { type: "success", timeout:1000 }
        })
      });
    },
    textoCombinacion: function (item) {
      let result="";
      for (let i = 0; i < item.curso.length; ) {
        let actCurso = item.curso[i];
        result = result.concat("•  ",actCurso,":");
        let temp="";
        while(actCurso===item.curso[i]){
          temp = temp.concat("  ",item.sec[i]);
          i++;
        }
        result = result.concat(temp," \n ");
      }
      return result
    },
    removeCombinacion: function (i) {
      this.listadoComb.splice(i, 1);
      this.$cookies.set("Comb", JSON.stringify(this.listadoComb));
      this.$toast.error('Combinación #' + (i + 1) + ' eliminada');
    },
    mostrarCursos: function () {
      let that = this;
      axios.post('api/obtener-cur', {}, {
        headers: {
          'Content-Type': 'application/json'
        }
      }).then(function (res) {
        that.listaCursos = res.data;
        if (that.$cookies.get("savedCursos") !== null) {
          that.listadoCursosSel = JSON.parse(that.$cookies.get("savedCursos"));
        }
        if (that.$cookies.get("Comb") !== null) {
          that.listadoComb = JSON.parse(that.$cookies.get("Comb"));
        }
      });
    },
    generarHorario: function (item) {
      this.$router.push({name: "Mejores", params: {cursoSec: item}});
    },
  },
  mounted() {
    this.getLastUpdate();
    this.mostrarCursos();
  },

}
</script>
