<template>
  <v-container class="d-flex flex-column flex-md-row">
    <v-overlay :value="overlay" absolute opacity="0.8">

    </v-overlay>

    <v-col class="flex-grow-0">
      <div class="my-2 d-flex justify-center">
        <v-slide-group
            v-model="subpagina"
            active-class="dRed"
            class="pb-2"
            mandatory
            show-arrows
        >
          <v-slide-item
              v-for="n in 2"
              :key="n"
              v-slot="{ active, toggle }"
          >
            <v-btn
                :input-value="active"
                active-class="white--text"
                class="mx-1 mx-sm-2 mx-md-3"
                depressed
                outlined
                small
                @click="toggle"
            >
              {{ option[n - 1] }}
            </v-btn>
          </v-slide-item>
        </v-slide-group>
      </div>

      <div v-if="isSubPag(0)">
        <h3 class="my-2">Cambie los cursos manualmente:</h3>
        <v-expansion-panels accordion>
          <v-expansion-panel
              v-for="(curso,ic) in listaHorarios"
              :key="ic"
          >
            <v-expansion-panel-header class="text-subtitle-2">
              {{ curso.codigo }} - {{ curso.nombre }}
            </v-expansion-panel-header>
            <v-expansion-panel-content class="text-body-2">
              <div v-for="(seccion,isc) in curso.sec" v-show="isHorarioSel(ic,isc)" :key="isc">
                <p><b>&#160;&#160;Sección: {{ seccion.seccion }}</b></p>
                <p v-for="(horario,ind) in seccion.horario" :key="ind">&#160;&#160;{{ horario.dia }} ->
                  {{ horario.horaInicio }}:00 - {{ horario.horaFin }}:00 {{ horario.docente }}
                  ({{ horario.isTeoriaPractica }}) {{ horario.aula }}</p>
              </div>
              <div>
                <v-btn
                    color="background"
                    icon
                    @click="changeHorario(ic,-1)"
                >
                  <v-icon>mdi-chevron-left</v-icon>
                </v-btn>
                <v-chip
                    class="ma-2"
                    color="background"
                >
                  {{ horarioGenControl[ic] + 1 }}/{{ listaHorarios[ic].sec.length }}
                </v-chip>
                <v-btn
                    color="background"
                    icon
                    @click="changeHorario(ic,1)"
                >
                  <v-icon>mdi-chevron-right</v-icon>
                </v-btn>
              </div>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </div>

      <div v-if="isSubPag(1)">
        <h3 class="my-2">Los siguientes horarios no contienen cruces:</h3>

        <v-container style="max-height: 75vh; overflow-y: auto">
          <v-simple-table dense style="width: 100%">
            <template v-slot:default>
              <thead>
              <tr>
                <th class="text-left text-subtitle-2">
                  Combinaciones: {{ horarioCrucesInfo.length }}/{{ totalCombinaciones() }}
                  ({{
                    horarioCrucesInfo.length === 0 ? 0 : (horarioCrucesInfo.length / totalCombinaciones() * 100).toFixed(2)
                  }}% del
                  total)
                </th>
              </tr>
              </thead>
              <tbody>
              <tr
                  v-for="(cruce,idx) in horarioCrucesInfo"
                  :key="idx"
              >
                <td class="d-flex align-center htr">
                  <b class="mr-2">{{ idx + 1 }}.</b> {{ cruce }}
                  <v-spacer/>
                  <v-btn color="dIndigo" dark small @click="showHorarioInd(idx)">
                    Ver
                  </v-btn>
                </td>
              </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-container>

      </div>
    </v-col>

    <v-col class="flex-grow-1">
      <v-container
          align="center"
          class="text-center"
          justify="space-around">
        <v-btn
            class="ma-2"
            color="error"
            dark
            @click="downloadHorario"
        >
          <v-icon>mdi-download</v-icon>
          Descargar
        </v-btn>

        <v-btn
            class="ma-2"
            color="success"
            dark
            @click="downToXlsx"
        >
          <v-icon>mdi-file-excel</v-icon>
          Excel
        </v-btn>

        <v-btn
            class="ma-2"
            color="dTeal"
            dark
            @click="$router.replace('/')"
        >
          <v-icon>mdi-arrow-left</v-icon>
          Regresar
        </v-btn>
      </v-container>
      <v-alert
          v-if="cursoCruces.length > 0"
          border="top"
          class="text-center text-subtitle-1 text-sm-h6"
          color="dOrange"
      >
        Este horario presenta CRUCES.

        <v-tooltip bottom color="error darken-1">
          <template v-slot:activator="{ on, attrs }">
            <span
                v-bind="attrs"
                v-on="on"
            > <u>Verifique manualmente</u>
            </span>
          </template>
          <span>No se permite:<br/>- Horas con cruce de varias practicas o laboratorios
            <br/>Esta permitido:<br/>- Teoría-Teoría | Teoría-Practica/Laborat. </span>
        </v-tooltip>
      </v-alert>
      <v-simple-table id="horario-table" data-cols-width="10,17,17,17,17,17,17" light>
        <template v-slot:default>
          <thead>
          <tr>
            <th data-a-h="center" data-b-a-s="thin" data-f-bold="true" data-f-color="FFFF0000" data-f-sz="14">Hora</th>
            <th data-a-h="center" data-b-a-s="thin" data-f-bold="true" data-f-color="FFFF0000" data-f-sz="14">Lunes</th>
            <th data-a-h="center" data-b-a-s="thin" data-f-bold="true" data-f-color="FFFF0000" data-f-sz="14">Martes
            </th>
            <th data-a-h="center" data-b-a-s="thin" data-f-bold="true" data-f-color="FFFF0000" data-f-sz="14">
              Miércoles
            </th>
            <th data-a-h="center" data-b-a-s="thin" data-f-bold="true" data-f-color="FFFF0000" data-f-sz="14">Jueves
            </th>
            <th data-a-h="center" data-b-a-s="thin" data-f-bold="true" data-f-color="FFFF0000" data-f-sz="14">Viernes
            </th>
            <th data-a-h="center" data-b-a-s="thin" data-f-bold="true" data-f-color="FFFF0000" data-f-sz="14">Sabado
            </th>
          </tr>
          </thead>
          <tbody class="text-body-2">
          <tr v-for="(horaRow,hora,ind) in horarioGen" :key="ind">
            <th data-a-wrap="true" data-b-a-s="thin" data-f-bold="true">{{ ind < 5 ? ind + 8 : ind - 4 }}:00
              {{ ind < 4 ? "am" : "pm" }} - <br/>{{ ind < 4 ? ind + 9 : ind - 3 }}:00 {{ ind < 3 ? "am" : "pm" }}
            </th>
            <td :style="{ 'background-color': color(colocarInHorario(horaRow[0])) }" data-a-wrap="true"
                data-b-a-s="thin">
              {{ colocarInHorario(horaRow[0]) }}
            </td>
            <td :style="{ 'background-color': color(colocarInHorario(horaRow[1])) }" data-a-wrap="true"
                data-b-a-s="thin">
              {{ colocarInHorario(horaRow[1]) }}
            </td>
            <td :style="{ 'background-color': color(colocarInHorario(horaRow[2])) }" data-a-wrap="true"
                data-b-a-s="thin">
              {{ colocarInHorario(horaRow[2]) }}
            </td>
            <td :style="{ 'background-color': color(colocarInHorario(horaRow[3])) }" data-a-wrap="true"
                data-b-a-s="thin">
              {{ colocarInHorario(horaRow[3]) }}
            </td>
            <td :style="{ 'background-color': color(colocarInHorario(horaRow[4])) }" data-a-wrap="true"
                data-b-a-s="thin">
              {{ colocarInHorario(horaRow[4]) }}
            </td>
            <td :style="{ 'background-color': color(colocarInHorario(horaRow[5])) }" data-a-wrap="true"
                data-b-a-s="thin">
              {{ colocarInHorario(horaRow[5]) }}
            </td>
          </tr>
          </tbody>
        </template>
      </v-simple-table>
    </v-col>

  </v-container>
</template>

<style>
td, th {
  word-wrap: break-word;
  min-width: 94px;
  text-align: center;
  vertical-align: middle;
}

.htr {
  text-align: unset;
  vertical-align: middle;
  height: fit-content !important;
  padding-top: 2px;
  padding-bottom: 2px;
}

.v-slide-group__next, .v-slide-group__prev {
  min-width: 24px !important;
}
</style>

<script>
import domtoimage from 'dom-to-image';
import TableToExcel from "@linways/table-to-excel/dist/tableToExcel";
import axios from "axios";

export default {
  name: "ShowHorario",
  components: {},
  props: ['cursoSec'],
  data() {
    return {
      subpagina: 0,
      option: ['Selección manual', 'Horarios sin cruces'],
      listaHorarios: null,
      cursoCruces: [],
      horarioGen: null,
      horarioGenControl: [],
      horarioCrucesControls: [],
      horarioCrucesInfo: [],
      colorCursos: ['#ff6e6e', '#b7b7ff', '#ffee58', '#cdfdb4',
        '#f4a6d4', '#bf7df3', '#f6c470', '#9affc3',
        '#81a57d', '#8bceff', '#7d7d6e'],
      overlay: true,
    };
  },
  methods: {
    docenteSimpl: function (docente) {
      return docente.split(" ")[0]
    },
    colocarInHorario: function (cell) {
      let result;
      if (cell != null) {
        if (cell.length === 1) {
          cell = cell[0]
          result = cell[0].concat(' ', cell[1], ' \n (', cell[2], ') ', cell[3])
        } else {
          let t = "CRUCE: ("
          for (let a = 0; a < cell.length; a++) {
            t = t.concat(cell[a][2]);
            if (a !== cell.length - 1)
              t = t.concat('/');
          }
          t = t.concat(") \n [");
          for (let a = 0; a < cell.length; a++) {
            t = t.concat(cell[a][0], ' ', cell[a][1]);
            if (a !== cell.length - 1)
              t = t.concat(' • ');
          }
          result = t.concat(']');
        }
      }
      return result;
    },
    isSubPag: function (subpagina) {
      return (this.subpagina === subpagina);
    },
    setSubPag: function (subpagina) {
      this.subpagina = subpagina;
    },
    generarHorario: function () {
      this.generarHorarioFrom(this.cursoSec);
    },
    generarHorarioFrom: function (cursosec) {
      let that = this;
      this.horarioGenControl = [];
      this.listaHorarios = [];
      this.horarioCrucesControls = [];
      this.horarioCrucesInfo = [];
      this.horarioGen = {
        8: [null, null, null, null, null, null],
        9: [null, null, null, null, null, null],
        10: [null, null, null, null, null, null],
        11: [null, null, null, null, null, null],
        12: [null, null, null, null, null, null],
        13: [null, null, null, null, null, null],
        14: [null, null, null, null, null, null],
        15: [null, null, null, null, null, null],
        16: [null, null, null, null, null, null],
        17: [null, null, null, null, null, null],
        18: [null, null, null, null, null, null],
        19: [null, null, null, null, null, null],
        20: [null, null, null, null, null, null],
        21: [null, null, null, null, null, null],
      };
      let toastHorario = this.$toast("Cargando Horario...", {
        timeout: false,
        icon: "false",
      });
      axios.post('api/obtener-hora', JSON.stringify(cursosec), {
        headers: {
          'Content-Type': 'application/json'
        }
      }).then(function (res) {
        that.listaHorarios = res.data;
        that.initControlHorarioGen(0);
        that.generarCursoCruces();
        that.overlay = false;
        that.$toast.update(toastHorario, {
          content: "¡Horario Generado!",
          options: {type: "success", timeout: 1500, icon: true}
        })
      })
    },
    initControlHorarioGen: function (ini) {
      if (ini === 0) {//Al generar
        for (let i = 0; i < this.listaHorarios.length; i++)
          this.horarioGenControl.push(0);
      } else { //Luego de evaluar cruces
        for (let i = 0; i < this.listaHorarios.length; i++)
          this.horarioGenControl[i] = 0;
      }
      this.showHorario();
    },
    showHorario: function () {
      let cursoSecSel = [];
      this.resetTabla();
      for (let i = 0; i < this.listaHorarios.length; i++) { //para cada curso en el horario
        cursoSecSel.push(this.listaHorarios[i].sec[this.horarioGenControl[i]]);
        let seccionAct = cursoSecSel[i].horario;
        for (let j = 0; j < seccionAct.length; j++) { //para cada fila de horario segun la lista obtenida
          let dia = seccionAct[j].dia;
          let horaIni = parseInt(seccionAct[j].horaInicio);
          let horaFin = parseInt(seccionAct[j].horaFin);
          while (horaIni < horaFin) {
            let diaInd;
            switch (dia) {
              case 'LU':
                diaInd = 0;
                break;
              case 'MA':
                diaInd = 1;
                break;
              case 'MI':
                diaInd = 2;
                break;
              case 'JU':
                diaInd = 3;
                break;
              case 'VI':
                diaInd = 4;
                break;
              case 'SA':
                diaInd = 5;
                break;
              default:
            }
            let valueHora = this.horarioGen[horaIni.toString()][diaInd];
            let codigo = this.listaHorarios[i].codigo;
            let seccion = cursoSecSel[i].seccion;
            let tipoH = seccionAct[j].isTeoriaPractica.substr(0, 1);
            let aula = seccionAct[j].aula;
            let docente = this.docenteSimpl(seccionAct[j].docente);
            aula = ""; //Solo en ciclos virtuales
            let res = [];
            let isCruce = false;
            let falsoCruce = false;
            if (valueHora !== null) {
              res = valueHora;
              for (let k = 0; k < res.length; k++) {
                if (res[k][0] === codigo.concat("-", seccion)) {
                  falsoCruce = true;
                  res[k].splice(2, 1, res[k][2].concat('&', tipoH))
                }
              }
              if (!falsoCruce) {
                isCruce = true;
                this.toCursoCruces(res[0][0].substring(0, 5));
              }
            }
            if (isCruce) {
              this.toCursoCruces(codigo);
            }
            if (!falsoCruce) {
              let temp = [];
              temp.push(codigo.concat("-", seccion), docente, tipoH, aula);
              res.push(temp);
              this.horarioGen[horaIni.toString()][diaInd] = res;
            }
            horaIni++;
          }
        }
      }
    },
    showHorarioInd: function (idx) { //Seleccionar un horario sin cruces usando posiciones
      this.horarioGenControl = JSON.parse(JSON.stringify(this.horarioCrucesControls[idx]));
      this.showHorario();
    },
    resetTabla: function () {
      for (let i = 8; i < 22; i++) {
        this.horarioGen[i.toString()] = [null, null, null, null, null, null];
      }
      this.cursoCruces = [];
    },
    generarCursoCruces: function () {
      let d = [];
      for (let i = 0; i < this.listaHorarios.length; i++) {
        d.push(this.listaHorarios[i].sec.length);
      }
      this.inspCombinaciones(0, d);
      this.initControlHorarioGen(1);
    },
    totalCombinaciones: function () {
      let t;
      if (this.listaHorarios.length > 0) {
        t = 1;
        for (let i = 0; i < this.listaHorarios.length; i++) {
          t *= this.listaHorarios[i].sec.length;
        }
      } else {
        t = 0;
      }
      return t;
    },
    inspCombinaciones: function (idc, d) {
      if (idc < d.length) {
        for (let i = 0; i < d[idc]; i++) {
          this.horarioGenControl.splice(idc, 1, i)
          if (!this.inspCombinaciones(idc + 1, d)) {
            this.showHorario();
            if (this.cursoCruces.length === 0 && idc + 1 === d.length) {
              this.reportarCruces();
            }
          }
        }
      }
      return (idc < d.length)
    },
    reportarCruces: function () {
      let text = "";
      let tem = [];
      for (let i = 0; i < this.horarioGenControl.length; i++) {
        if (i !== 0)
          text = text.concat(" | ");
        text = text.concat(this.listaHorarios[i].codigo, ":", this.listaHorarios[i].sec[this.horarioGenControl[i]].seccion);
        tem.push(this.horarioGenControl[i]);
      }
      this.horarioCrucesInfo.push(text);
      this.horarioCrucesControls.push(tem);
    },
    toCursoCruces: function (cruce) { //Almacenar cursos con cruces
      let existe = false;
      for (let i = 0; i < this.cursoCruces.length; i++) {
        if (cruce === this.cursoCruces[i]) {
          existe = true;
          break;
        }
      }
      if (!existe)
        this.cursoCruces.push(cruce);
    },
    intoCursoCruces: function (cruce) { //Verifica si tiene cruces
      for (let i = 0; i < this.cursoCruces.length; i++) {
        if (cruce === this.cursoCruces[i]) {
          return true;
        }
      }
      return false;
    },
    color: function (cell) {
      if (cell == null)
        return 'rgba(255,255,255,0)'
      else {
        let ind;
        let curso = cell.substring(0, 5);
        //Deteccion de cruce
        if (this.intoCursoCruces(curso))
          ind = 10;
        else
          for (let i = 0; i < this.listaHorarios.length; i++) {
            if (curso === this.listaHorarios[i].codigo) {
              ind = i;
              break;
            } else if (curso === "CRUCE") {
              ind = 10;
              break;
            }
          }
        return this.colorCursos[ind];
      }
    },
    changeHorario: function (indc, op) {
      let j = this.horarioGenControl[indc];
      if (op === 1)
        if (j + 1 < this.listaHorarios[indc].sec.length) {
          this.horarioGenControl.splice(indc, 1, j + 1); //en la posicion indc se reemplaza por el valor j+1
        } else {
          this.horarioGenControl.splice(indc, 1, 0);
        }
      else if (j === 0) {
        this.horarioGenControl.splice(indc, 1, this.listaHorarios[indc].sec.length - 1);
      } else {
        this.horarioGenControl.splice(indc, 1, j - 1);
      }
      this.showHorario();
    },
    isHorarioSel: function (ic, isc) {
      return this.horarioGenControl[ic] === isc;
    },
    currentTime: function () {
      const date = new Date();

      function pad(d) {
        return (d < 10) ? '0' + d.toString() : d.toString();
      }

      return date.getFullYear().toString().concat(pad(date.getMonth() + 1), pad(date.getDate()), "-", pad(date.getHours()), pad(date.getMinutes()), pad(date.getSeconds()))
    },
    downloadHorario: function () {
      let that = this;
      let toastImg = this.$toast('Preparando descarga...', {timeout: false, icon: false});
      domtoimage.toPng(document.getElementById('horario-table').firstElementChild.firstElementChild, {bgcolor: "#ffffff"})
          .then(function (img) {
            let link = document.createElement('a');
            link.download = 'Horario_'.concat(that.currentTime());
            link.href = img;
            link.click();
            that.$toast.update(toastImg, {
              content: 'Descargando Imagen',
              options: {type: "success", timeout: 2000, icon: true}
            })
          });
    },
    downToXlsx: function () {
      let toastXlsx = this.$toast('Preparando archivo...', {timeout: false});
      TableToExcel.convert(document.getElementById("horario-table"), {
        name: "horario_matrigen.xlsx",
        sheet: {
          name: "Horario"
        }
      });
      this.$toast.update(toastXlsx, {
        content: 'Listo para descargar XLSX',
        options: {type: "success", timeout: 2000}
      })
    },
  },
  mounted() {
    this.generarHorario();
  }
};
</script>