<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MatriGEN - Generador de Horarios de Matricula</title>
    <link type="text/css" rel="stylesheet" href="css/bulma.min.css" >
    <link type="text/css" rel="stylesheet" href="css/matrigen.css" >
    <link rel="stylesheet" href="css/animate.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" crossorigin="anonymous">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#485fc7">
    <meta name="msapplication-TileColor" content="#003696">
    <meta name="theme-color" content="#003696">
    <meta name="description" content="Generador de Horarios de Matricula">
    <script type="module">
        import 'https://cdn.jsdelivr.net/npm/@pwabuilder/pwaupdate@0.2.0/dist/pwa-update.js';
        const el = document.createElement('pwa-update');
        document.body.appendChild(el);
    </script>
</head>
<body>
<div id="app" >
    <div id="navbar1">
        <nav class="navbar is-link" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="./">
                    <img src="./res/logo.png" alt="MatriGEN">
                </a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarElements">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="navbarElements" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" v-on:click="setPagina(3)">
                        <b>Mis combinaciones</b>
                    </a>
                    <a class="navbar-item" v-on:click="setPagina(1)">
                        <b>Crear horario</b>
                    </a>
                    <a class="navbar-item" v-show="isGenerado" v-on:click="setPagina(2)">
                        <b>Ver último horario generado</b>
                    </a>
                </div>
                <div class="navbar-end">
                    <div class="buttons mx-2">
                        <a class="button is-warning is-rounded" v-on:click="window.location.href='../'">
                            <strong style="font-size: 0.9rem">Probar la nueva versión</strong>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <section class="section">
        <div class="container">
            <h1 class="title titulo">MatriGEN - Generador de Horarios de Matricula</h1>
            <div v-show="isPagina(1)">
                <div class="subtitle">
                    Crea un horario nuevo:
                </div>
                <!-- -->
                <div class="listado" v-if="listaCursos!=null">
                    <h2 class="subtitle titulo">Cursos seleccionados: (Cantidad de cursos: {{selectedCursoList.length}})</h2>
                    <div class="m-4">
                        <div class="columns is-mobile is-vcentered" v-for="(curso,ind) in selectedCursoList">
                            <div class="column is-narrow is-mobile p-1">
                                <button class="button is-small is-danger" v-on:click="removeCursoSel(ind)"><b>X</b></button>
                            </div>
                            <div class="column is-narrow is-mobile p-1" id="cursol">
                                <p class="notif2 titulo">{{curso.codigo}} - {{curso.nombre}}<br>&nbsp&nbsp Secciones:</p>
                                <span v-bind:style="{ display:'inline' }"></span>
                                <label v-for="(sec) in curso.secciones">
                                    <input type="checkbox" class="cursoSelec" checked>&nbsp{{sec}}&nbsp&nbsp&nbsp
                                </label>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="button is-dark" v-on:click="modalAddCurso(1)"><i class="fas fa-plus-circle"></i>&nbspAñadir curso</button>

                    <div class="modal" id="addCurso">
                        <div class="modal-background"></div>
                        <div class="modal-card">
                            <header class="modal-card-head" id="modal-head2">
                                <div class="columns is-mobile is-vcentered">
                                    <div class="column">
                                        <p class="modal-card-title" id="modal-title"><b>Agregar cursos:</b></p>
                                    </div>
                                    <div class="column is-narrow field is-horizontal">
                                        <div class="field-label is-small">
                                            <label class="label" for="curso_b">Buscar:</label>
                                        </div>
                                        <div class="field-body">
                                            <div class="field has-addons">
                                                <div class="control">
                                                    <input class="input is-small is-rounded" v-model="searchCurso" @input="$event.target.composing = false" id="curso_b" type="text" placeholder="Nombre/código del curso..." >
                                                </div>
                                                <div class="control">
                                                    <button class="button is-danger is-small is-rounded" v-on:click="limpiarSearch"><i class="fas fa-times"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </header>
                            <section class="modal-card-body">
                            <span class="list-cursos" v-for="(curso,ind) in searchCursoList">
                                <button class="button is-small is-link is-outlined" v-on:click="addCursoSel(ind)"><b>{{curso.codigo}} - {{curso.nombre}}</b></button>
                            </span>
                            </section>
                            <footer class="modal-card-foot">
                                <button class="button is-success" v-on:click="modalAddCurso(0)">Guardar y cerrar</button>
                            </footer>
                        </div>
                    </div>
                </div>

                <button id="limpiaBtn" class="button is-warning" type="button" v-on:click="limpiarSel">Limpiar</button>
                <button id="addComb" class="button is-success" type="button" v-on:click="addCombinacion()">Guardar Combinación</button>
                <button type="button" class="button is-link" v-on:click="generarHorario">¡Generar!</button>
            </div>

            <div class="columns" v-show="isPagina(2)">
                <div class="modal" id="loading2">
                    <div class="modal-background"></div>
                    <div class="modal-card" id="popup_generado">
                        <section class="modal-card-body" id="pop2">
                            <div id="m1">
                                <span class="load">{{popupText}}<br></span>
                                <img src="res/load2.gif" alt="">
                            </div>
                            <div id="m2">
                                <span class="load" v-if="popup_generado">{{popupText}}<br></span>
                                <img src="res/tick.png" alt="">
                            </div>
                        </section>
                    </div>
                </div>
                <div class="column">
                    <div class="tabs is-toggle">
                        <ul>
                            <li class="ficha is-active"><a v-on:click="setSubPag(1)">Selección manual</a></li>
                            <li class="ficha"><a v-on:click="setSubPag(2)">Horarios sin cruces</a></li>
                        </ul>
                    </div>
                    <div v-if="isSubPag(1)">
                        <h2 class="subtitle titulo" >Cambie los cursos manualmente:</h2>
                        <div class="curso" v-for="(curso,ic) in listaHorarios">
                            <p><b>{{curso.codigo}} - {{curso.nombre}}</b></p>
                            <div v-for="(seccion,isc) in curso.sec" v-show="isHorarioSel(ic,isc)" >
                                <p><b>&nbsp&nbspSección: {{seccion.seccion}}</b></p>
                                <p v-for="horario in seccion.horario">&nbsp&nbsp{{horario.dia}} -> {{horario.horaInicio}}:00 - {{horario.horaFin}}:00   {{horario.docente}} ({{horario.isTeoriaPractica}}) {{horario.aula}}</p>
                            </div>
                            <div class="curso">
                                <button type="button" class="button is-small is-info" v-on:click="changeHorario(ic,-1)">Anterior</button>
                                <p style="display: inline">&nbsp&nbsp{{horarioGenControl[ic]+1}}/{{listaHorarios[ic].sec.length}}&nbsp&nbsp</p>
                                <button type="button" class="button is-small is-info" v-on:click="changeHorario(ic,1)">Siguiente</button>
                            </div>
                            <p style="padding: 8px;"></p>
                        </div>
                    </div>
                    <div v-if="isSubPag(2)">
                        <h2 class="subtitle titulo" >Horarios que no presentan cruces:</h2>
                        <p>Combinaciones: {{horarioCrucesInfo.length}}/{{totalCombinaciones()}} ({{horarioCrucesInfo.length===0?0:horarioCrucesInfo.length/totalCombinaciones()*100}}% del total)<br><br></p>
                        <section id="listaCruces">
                            <div  class="titulo" v-for="(cruce,idx) in horarioCrucesInfo">
                                <p class="notif2"><b>{{idx+1}}.</b> {{cruce}}</p>
                                <button class="button is-small is-success" v-on:click="showHorarioInd(idx)">Ver</button>
                            </div>
                        </section>

                    </div>

                </div>
                <div class="column is-narrow" id="show">
                    <div class="columns is-narrow is-mobile is-centered" id="downl">
                        <div class="column is-narrow">
                            <button class="button is-danger" v-on:click="downloadHorario">Descargar</button>
                        </div>
                        <div class="column is-narrow">
                            <button class="button is-success" v-on:click="downToXlsx">Excel</button>
                        </div>
                        <div class="column is-narrow">
                            <button class="button is-warning" v-on:click="setPagina(1)">Regresar</button>
                        </div>
                    </div>
                    <div class="columns is-centered">
                        <div class="column is-narrow is-mobile">
                            <div class="notification notif curso" v-if="cursoCruces.length > 0">Horario con cruces. Compruebe que esté permitido</div>
                        </div>
                    </div>


                    <div class="table-container" id="horario">
                        <table id="horario-table" data-cols-width="10,17,17,17,17,17,17" class="table is-bordered is-striped is-hoverable is-narrow">
                            <thead>
                            <tr>
                                <th data-b-a-s="thin" data-f-bold="true" data-f-sz="14" data-a-h="center" data-a-wrap="true">Hora</th>
                                <th data-b-a-s="thin" data-f-bold="true" data-f-sz="14" data-a-h="center">Lunes</th>
                                <th data-b-a-s="thin" data-f-bold="true" data-f-sz="14" data-a-h="center">Martes</th>
                                <th data-b-a-s="thin" data-f-bold="true" data-f-sz="14" data-a-h="center">Miércoles</th>
                                <th data-b-a-s="thin" data-f-bold="true" data-f-sz="14" data-a-h="center">Jueves</th>
                                <th data-b-a-s="thin" data-f-bold="true" data-f-sz="14" data-a-h="center">Viernes</th>
                                <th data-b-a-s="thin" data-f-bold="true" data-f-sz="14" data-a-h="center">Sabado</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(horaRow,hora,ind) in horarioGen">
                                <th data-b-a-s="thin" data-f-bold="true" data-a-wrap="true">{{ind<5 ? ind+8 : ind-4}}:00 {{ind<4?"am":"pm"}} - <br/>{{ind<4 ? ind+9 : ind-3}}:00 {{ind<3?"am":"pm"}}</th>
                                <td data-b-a-s="thin" data-a-wrap="true" v-bind:style="{ 'background-color':(horaRow[0]!=null?color(horaRow[0].substring(0,5)):'rgba(255,255,255,0)') }">{{horaRow[0]}}</td>
                                <td data-b-a-s="thin" data-a-wrap="true" v-bind:style="{ 'background-color':(horaRow[1]!=null?color(horaRow[1].substring(0,5)):'rgba(255,255,255,0)') }">{{horaRow[1]}}</td>
                                <td data-b-a-s="thin" data-a-wrap="true" v-bind:style="{ 'background-color':(horaRow[2]!=null?color(horaRow[2].substring(0,5)):'rgba(255,255,255,0)') }">{{horaRow[2]}}</td>
                                <td data-b-a-s="thin" data-a-wrap="true" v-bind:style="{ 'background-color':(horaRow[3]!=null?color(horaRow[3].substring(0,5)):'rgba(255,255,255,0)') }">{{horaRow[3]}}</td>
                                <td data-b-a-s="thin" data-a-wrap="true" v-bind:style="{ 'background-color':(horaRow[4]!=null?color(horaRow[4].substring(0,5)):'rgba(255,255,255,0)') }">{{horaRow[4]}}</td>
                                <td data-b-a-s="thin" data-a-wrap="true" v-bind:style="{ 'background-color':(horaRow[5]!=null?color(horaRow[5].substring(0,5)):'rgba(255,255,255,0)') }">{{horaRow[5]}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div v-show="isPagina(3)">
                <div class="notification titulo notif">
                    Bienvenido al generador de horarios para la matricula.<br>
                    <b>Actualizado:</b> {{savedUpd.fecha}}  -  {{savedUpd.descripcion}}
                </div>
                <h2 class="subtitle"><b>Mis combinaciones de horarios guardados:</b></h2>
                <div class="notification titulo is-warning" v-if="listadoComb.length===0">
                    Aquí apareceran las combinaciones guardadas de los cursos seleccionados.<br>
                    Para comenzar, presione el boton de abajo.
                </div>
                <button type="button" class="button is-link" v-on:click="setPagina(1)">Crear un horario nuevo</button>
                <hr>
                <div class="cards-combin m-1 columns is-mobile is-multiline is-align-items-flex-start">
                    <div v-for="(item,ind) in listadoComb" class="card m-2">
                        <header class="card-header">
                            <p class="card-header-title">Combinación #{{ind+1}}:</p>
                            <button class="card-header-icon" aria-label="more options">
                            <span class="icon">
                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                            </span>
                            </button>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                <p v-for="i in item.curso.length" class="m-0">{{item.curso[i-1]}} - {{item.sec[i-1]}}</p>
                            </div>
                        </div>
                        <footer class="card-footer">
                            <a class="card-footer-item has-background-warning has-text-weight-bold" v-on:click="generarHorarioFrom(item)">Generar</a>
                            <a class="card-footer-item has-background-danger-light has-text-weight-bold" v-on:click="removeCombinacion(ind)">Borrar</a>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="js/bulma-toast.min.js" type="text/javascript"></script>
<script src="js/vue.min.js" type="text/javascript"></script>
<script src="js/vue-router.min.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-cookies@1.7.4/vue-cookies.min.js" type="text/javascript"></script>
<script src="js/matricula.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/dom-to-image@2.6.0/src/dom-to-image.min.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/@linways/table-to-excel@1.0.4/dist/tableToExcel.min.js" type="text/javascript"></script>
</body>
</html>
