<template>
  <div>
    <NotFound v-if="$route.name==='Not Found'"></NotFound>
    <Base v-else>
    </Base>
  </div>
</template>

<script>
import Base from "@/components/Base";
export default {
  name: 'App',
  components: {
    Base,
    NotFound: () => import(/* webpackChunkName: "error" */ '@/views/NotFound.vue')
  },
};
</script>