<!DOCTYPE html>
<html lang="es" style="overflow-y: unset">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1.0, maximum-scale=1, user-scalable=no, minimal-ui" name="viewport">
    <link href="<%= BASE_URL %>favicon.ico" rel="icon">
    <meta content="#2962FF" name="theme-color"/>
    <link href="<%= BASE_URL %>favicon.ico" rel="icon">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link crossorigin="anonymous" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
          rel="stylesheet">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css"
          rel="stylesheet">
</head>
<body>
<noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
        Please enable it to continue.</strong>
</noscript>
<div id="app"></div>
<!-- built files will be auto injected -->
</body>
</html>
