<template>
  <v-app id="inspire">
    <v-navigation-drawer v-model="drawer" app temporary>
      <!--  -->
      <v-list>
        <v-list-item class="px-2">
          <v-list-item-avatar>
            <v-img
                src="../assets/logo.png"
            ></v-img>
          </v-list-item-avatar>
        </v-list-item>

        <v-list-item link>
          <v-list-item-content>
            <v-list-item-title class="text-h6"> MatriGEN</v-list-item-title>
            <v-list-item-subtitle>v 3.0.4</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-list>

      <v-divider></v-divider>
      <v-list nav dense>
        <v-list-item link to="/">
          <v-list-item-icon>
            <v-icon>mdi-home</v-icon>
          </v-list-item-icon>
          <v-list-item-title>Combinaciones</v-list-item-title>
        </v-list-item>
        <v-list-item link to="/showHorario">
          <v-list-item-icon>
            <v-icon>mdi-magnify</v-icon>
          </v-list-item-icon>
          <v-list-item-title>Horario generado</v-list-item-title>
        </v-list-item>
      </v-list>
      <template v-slot:append>
        <v-divider/>
        <v-list nav dense>
          <v-list-item link to="/v2/">
            <v-list-item-icon>
              <v-icon>mdi-backup-restore</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Versión anterior (v2)</v-list-item-title>
          </v-list-item>
        </v-list>
      </template>
    </v-navigation-drawer>

    <v-app-bar app elevate-on-scroll dense color="background">
      <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>

      <v-toolbar-title><v-img src="../assets/name.png"></v-img></v-toolbar-title>

      <v-spacer></v-spacer>

      <v-btn @click="changeDarkMode()" icon aria-label="Cambiar tema">
        <v-icon>mdi-brightness-4</v-icon>
      </v-btn>

      <template v-slot:extension>
        <v-tabs align-with-title v-model="tab" color="secundary">
          <v-tabs-slider color="secundary"></v-tabs-slider>
          <v-tab :to="{ path: '/'}" replace>Combinaciones</v-tab>
          <v-tab :disabled="$route.path!=='/showHorario'" :to="{ path: '/showHorario'}" replace>Horario generado</v-tab>
        </v-tabs>
      </template>
    </v-app-bar>

    <v-main>
      <!--  Contenido de la app-->
      <v-container fluid>
        <keep-alive exclude="ShowHorario">
          <router-view/>
        </keep-alive>
      </v-container>
    </v-main>

    <v-footer app padless>
      <!-- -->
      <v-expand-transition>
        <v-banner
            v-if="sw.showUpdateUI"
            class="flex-grow-1"
            mobile-breakpoint="660"
            elevation="5"
        >
          {{ sw.textUI }}
          <template v-slot:actions>
            <v-btn
                v-if="sw.opt1has"
                color="iBlue"
                text
                @click="sw.showUpdateUI = false"
            >
              {{ sw.opt1text }}
            </v-btn>
            <v-btn
                v-if="sw.opt2has"
                color="iBlue"
                text
                @click="update"
            >
              {{ sw.opt2text }}
            </v-btn>
          </template>
        </v-banner>
      </v-expand-transition>
    </v-footer>
  </v-app>
</template>

<style>
#inspire.theme--light{
background: aliceblue;
background: linear-gradient(215deg, #bfbfff, #bfffff, #bfffbf);
background-size: 600% 600%;
-webkit-animation: bg-animation 30s ease infinite;
-moz-animation: bg-animation 30s ease infinite;
-o-animation: bg-animation 30s ease infinite;
animation: bg-animation 30s ease infinite;
}

@-webkit-keyframes bg-animation {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes bg-animation {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-o-keyframes bg-animation {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes bg-animation {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}
</style>

<script>

export default {
  data: () => ({
    drawer: false,
    tab: null,
    sw: {showUpdateUI: false, textUI: null, opt1text: null, opt2text: null, opt1has: true, opt2has: true}
  }),
  components: {},
  methods: {
    isDarkModeEnabled() {
      return window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches
    },
    changeDarkMode(){
      this.$vuetify.theme.dark = !this.$vuetify.theme.dark;
      let b=this.$vuetify.theme.dark;
      this.$cookies.set("darkMode",b);
    },
    async update() {
      this.sw.showUpdateUI = false;
      await this.$workbox.messageSW({type: "SKIP_WAITING"});
    },
    updateRouter(tab) {
      this.$router.replace(tab)
    },
  },
  mounted() {
    this.$cookies.config("30d", "", "", true);
    if(!this.$cookies.isKey("darkMode"))
      this.$cookies.set("darkMode",this.isDarkModeEnabled());
    this.$vuetify.theme.dark = (this.$cookies.get("darkMode")==="true");
  },
  created() {
    if (this.$workbox) {
      this.$workbox.addEventListener("activated", (event) => {
        if (!event.isUpdate) {
          this.sw.textUI = "¡Bienvenido!"
          this.sw.opt1has = true;
          this.sw.opt1text = "Cerrar";
          this.sw.opt2has = false;
          this.sw.showUpdateUI = true;
          let that = this;
          window.setTimeout(function () {
            that.sw.showUpdateUI = false
          }, 4000);
        }
      });
      this.$workbox.addEventListener("waiting", () => {
        this.sw.textUI = "La aplicación requiere actualizarse"
        this.sw.opt1has = true;
        this.sw.opt1text = "Cancelar";
        this.sw.opt2has = true;
        this.sw.opt2text = "Actualizar";
        this.sw.showUpdateUI = true;
      });
    }
  },
};
</script>